.Main{
    width: 100%;
    overflow: overlay;
}

//Navbar scss
.ul{
    position: sticky;
    top:0;
    left: 0;
    display:flex;
    list-style-type: none;
    padding: 10px;
    height: 64px;
    

    & .links{
        display:flex;
        align-items: center;
        text-decoration: dotted;
        font-size: 30px;
        font-family: 'poppins', sans-serif;
        padding: 0 20px 0 20px;
        cursor: pointer;
        color: black;
        mix-blend-mode: difference;
    }

    & .links0{
        font-family: 'Righteous', cursive;
        font-size: 36px;
        margin-right: auto;
        padding: 10px 0 0 20px;
        transform: skewY(-8deg);
    }

    & .links3{
        margin-right: 10px;
    }
}

// about section
.about_section{
    height: calc(100vh - 180px);
    padding: 100px 0 0 0;

    & h1{
        margin-left: 150px;
        font-size: 120px;
        font-family: 'Allerta Stencil', sans-serif;
    }

    & .about_me{
        margin-top: 50px;
    }

    & .span{
        display:block;
        margin: 5px 0 0 150px;
        font-size: 36px;
        font-family: 'Allerta Stencil', sans-serif;
        letter-spacing: 5px;
    }

    & .my_redirects{
        display: flex;
        justify-content: center;
        margin: 200px 0 0 0;
        gap: 200px;
        font-size: 100px;

        & .hoverstate{
            background-color: black;
            border-radius: 80px;
            transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

            & a{
                color: rgb(255, 85, 85);
            }

            &:hover{
                cursor:pointer;
                color: rgb(0, 0, 0);
                background-color: transparent;
                transform:scale(1.5);

                & a{
                    color: rgb(0, 0, 0);
                }
            }
        }

        & .instagram{
            padding: 10px 15px 0 15px;
        }

        & .github{
            padding: 10px 15px 0 15px;
        }

        & .linkedin{
            padding: 10px 15px 0 15px;
        } 
    }
}

.contact_icons{
    position: absolute;
}

.projects{
    height: 100vh;
    z-index: 10;
    background-color: rgb(0, 0, 0);
    
    &_part{
        color: rgb(255, 255, 255);
        z-index: 10;
    }

}

