*{
    margin: 0;
    padding: 0;
}
  
html{
    min-height: 100%;
}
  
body{
    width: 100%;
    position: relative;
    min-height: 100dvh;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');