.contactme{
    position: relative;
    min-height: 100dvh;
    isolation: isolate;
    box-sizing: border-box;
    overflow: hidden;

    & .Cwaves{
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
    }

    & .Cwave0{
        top: 25vh;
        background: linear-gradient(180deg, rgb(56, 5, 5) 70%, rgb(0, 0, 0) 100%);
        clip-path: polygon(0% 100%, 0% 65.22%, 3% 63.22%, 8% 64.22%, 14% 65.22%, 19% 63.22%, 30% 67.22%, 39% 66.22%, 43% 68.22%, 49% 66.22%, 54% 67.22%, 59% 65.22%, 65% 67.22%, 71% 66.22%, 76% 66.22%, 80% 65.22%, 85% 64.22%, 89% 64.22%, 92% 61.22%, 96% 61.22%, 100% 65.22%, 100% 100%);
        z-index: 4;
    }

    & .Cwave1{
        top: 8vh;
        background-color: rgb(99, 16, 16);
        clip-path: polygon(0% 100%, 0% 73.83%, 8% 68.83%, 15% 68.83%, 21% 71.83%, 27% 75.83%, 31% 78.83%, 36% 78.83%, 42.71% 80.39%, 49% 84.83%, 54% 84.83%, 61% 82.83%, 70% 80.83%, 76% 80.83%, 82% 78.83%, 86% 77.83%, 89% 75.83%, 92% 73.83%, 95% 70.83%, 99% 72.83%, 100% 74.81%, 100% 100%);
        z-index: 3;
    }

    & .Cwave2{
        top: 3vh;
        background-color: rgb(171, 38, 38);
        clip-path: polygon(0% 100%, 0% 84.94%, 3% 83.94%, 10% 79.94%, 15% 77.94%, 21% 80.94%, 29% 78.94%, 35% 83.94%, 42% 83.94%, 47% 78.94%, 54% 81.94%, 61% 78.94%, 67% 75.94%, 71% 80.94%, 75% 78.94%, 80% 80.94%, 86% 77.94%, 90% 74.94%, 94% 74.94%, 97% 79.94%, 100% 84.94%, 100% 100%);
        z-index: 2;
    }

    & .Cwave3{
        top: 7vh;
        background-color: rgb(220, 52, 52);
        z-index: 1;
        clip-path: polygon(0% 100%, 0% 86.61%, 3% 76.61%, 11% 69.61%, 18% 70.61%, 26% 69.61%, 33% 76.7%, 38% 75.7%, 44% 70.7%, 49% 75.7%, 57% 76.7%, 61% 69.7%, 66% 68.7%, 71% 66.7%, 77% 68.7%, 81% 66.7%, 86% 64.7%, 89% 69%, 94% 63.7%, 98% 64.7%, 100% 70.7%, 100% 100%);
    }
    & .Cwave4{
        top: 5vh;
        background-color: rgb(243, 74, 74);
        clip-path: polygon(0% 100%, 0% 66.69%, 7% 58.69%, 12% 61.69%, 19% 66.69%, 26% 66.69%, 32% 68.69%, 38% 64.69%, 44% 63.69%, 49% 62.69%, 55% 62.69%, 59% 64.69%, 64% 66.69%, 68% 66.69%, 72% 66.69%, 75% 65.69%, 79% 62.69%, 84% 62.69%, 89% 59.69%, 95% 55.69%, 100% 61.69%, 100% 100%);
        z-index: 0;
    }

    .Cwavetop0{
        top: -8vh;
        background: rgb(0, 0, 0);
        clip-path: polygon(0% 0%, 0% 21.24%, 3.06% 19.91%, 10% 17.53%, 15% 15.53%, 21% 18.53%, 29% 16.53%, 35% 21.53%, 42% 21.53%, 47% 16.53%, 54% 19.53%, 61% 16.53%, 67% 13.53%, 71% 18.53%, 75% 16.53%, 80% 18.53%, 86% 15.53%, 89.74% 15.02%, 93.71% 14.19%, 98.16% 16.81%, 100% 19.11%, 100% 0%);
        z-index: 9;
    }

    .Cwavetop1{
        top: -7vh;
        clip-path: polygon(0% 0%, 0% 31.52%, 3.42% 22.25%, 11% 18.78%, 18% 19.78%, 26% 18.78%, 33% 25.87%, 38% 24.87%, 44% 19.87%, 49% 24.87%, 57% 25.87%, 61% 18.87%, 66% 17.87%, 71% 15.87%, 77% 17.87%, 81% 15.87%, 86% 13.87%, 89% 18.17%, 94% 12.87%, 98% 13.87%, 100% 18.87%, 100% 0%);
        background-color: rgb(99, 16, 16);
        z-index: 4;
    }

    .Cwavetop2{ 
        top: -2vh;
        clip-path: polygon(0% 0%, 0% 18%, 3% 16%, 8% 17%, 14% 18%, 19% 16%, 30% 20%, 39% 19%, 43% 21%, 49% 19%, 54% 20%, 59% 18%, 65% 20%, 71% 19%, 76% 19%, 80% 18%, 85% 17%, 89% 17%, 92% 14%, 96% 14%, 100% 18%, 100% 0%);
        background-color: rgb(171, 38, 38);
        z-index: 3;
    }
    .Cwavetop3{ 
        top: 4vh;
        background-color: rgb(222, 63, 63);
        clip-path: polygon(0% 0%, 0% 19.75%, 7% 11.75%, 12% 14.75%, 19% 19.75%, 26% 19.75%, 32% 21.75%, 38% 17.75%, 44% 16.75%, 49% 15.75%, 55% 15.75%, 59% 17.75%, 64% 19.75%, 68% 19.75%, 72% 19.75%, 75% 18.75%, 79% 15.75%, 84% 15.75%, 89% 12.75%, 95% 8.75%, 100% 14.75%, 100% 0%);
        z-index: 2;
    }
    .Cwavetop4{ 
        top: -5vh;
        background-color: rgb(243, 74, 74);
        clip-path: polygon(0% 0%, 0% 37.63%, 3% 36.63%, 10% 32.63%, 15% 30.63%, 21% 33.63%, 29% 31.63%, 35% 36.63%, 42% 36.63%, 47% 31.63%, 54% 34.63%, 61% 31.63%, 67% 28.63%, 71% 33.63%, 75% 31.63%, 80% 33.63%, 86% 30.63%, 90% 27.63%, 94% 27.63%, 97% 32.63%, 100% 37.63%, 100% 0%);
        z-index: 1;
    }

    & .contactformbox{
        position: absolute;
        top:0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20%;
        height:100%;
        width: 100%;
        //padding: 20vh 0 0 0;
        z-index: 3;
        
        & .heading{
            font-family: 'Bebas Neue', sans-serif;
            font-size: 86px;
            transform: skewX(-10deg);
        }

        & .heading{
            font-family: 'Bebas Neue', sans-serif;
            font-size: 126px;
            transform: skewX(-10deg);
        }

        & .mail{
            font-family: 'Barlow Condensed', sans-serif;
            font-size: 76px;
            transform: skewX(-10deg);
        }
    }
}