.projects{
    box-sizing: border-box;
    overflow: hidden;
    padding: 84px 0 0 0;
    height: 100vh;
    background: linear-gradient(180deg, rgb(0, 0, 0) 100%, rgb(56, 5, 5) 100%);
    color: aliceblue;

    &__title{
        text-align: center;
        margin: 2vh 0 15vh 0;
        font-size: 8vh;
        font-family: 'Allerta Stencil', sans-serif;
    }

    &__container{
        display: flex;
        justify-content: center;
        gap: 250px;
        min-height: min-content;

        &__info{
            overflow: hidden;

            &__flex{
                height: 563px;

                &__1, &__2{
                    overflow: hidden;
                    box-sizing: border-box;
                    padding: 120px 0 0 100px;

                    & div,p{
                        font-size: 22px;
                        font-family: 'Allerta Stencil', sans-serif;
                        letter-spacing: 5px;
                    }
                }

                &__2{
                    padding: 80px 0 0 80px;
                }
            }
            
            &__size{
                //box-sizing: border-box;
                height: 563px;
                width: 600px;
            }

            & h1{
                margin: 0 0 70px 0;
                font-size: 50px;
                font-family: 'Allerta Stencil', sans-serif;
            }
        }
        

        &__pics{
            display: flex;
            flex-direction: row;
            height: 563px;
            width: 1000px;
            overflow: hidden;

            &__img{
                height: 100%;
                width: 100%;
            }
        }
    }
    
}

@media screen and (min-width: 360px) and (max-width: 600px) {
    .projects{
        padding: 56px 0 0 0;

        &__title{
            margin: 1dvh 0 5dvh 0;
            font-size: 5dvh;
        }

        &__container{
            flex-direction: column-reverse;
            gap: 7dvh;

            &__info{    
                &__flex{
                    height: 50dvh;
                    &__1{
                        padding: 10px;

                        & h1{
                            margin: 0 0 30px 0;
                            font-size: 35px;
                        }
    
                        & div,p{
                            padding: 0 0 0 12px;
                            font-size: 18px;
                        }
                    }
    
                    &__2{
                        padding: 10px;

                        & h1{
                            margin: 0 0 30px 0;
                            font-size: 25px;
                        }

                        & div,p{
                            padding: 0 0 0 12px;
                            font-size: 18px;
                        }
                    }
                }
                
                &__size{
                    margin: auto;
                    height: 50dvh;
                    width: 90%;
                }
            }
            &__pics{
                margin: auto;
                height: 51%;
                width: 90%;
                overflow: hidden;
            }
        }
    }
}