.projects{
    overflow: hidden;
    padding: 84px 0 0 0;
    height: 100vh;
    z-index: 100;
    color: aliceblue;

    &__title{
        text-align: center;
        margin: 5vh 0 15vh 0;
        font-size: 8vh;
        font-family: 'Allerta Stencil', sans-serif;
    }
    &__container{
        display: flex;
        justify-content: space-around;
        //gap: 100px;

        &__info{
            overflow: hidden;
            margin-left: 50px;
            width: 35%;

            &__size{
                float: left;
                height: 100%;
                width: 100%;
            }
        }

        &__pics{
            display: flex;
            flex-direction: column;
            height: 563px;
            width: 1000px;
            overflow: hidden;

            &__img{
                height: 100%;
                width: 100%;
            }

            & h1{
                font-size: 40px;
                font-family: 'Allerta Stencil', sans-serif;
            }
        }
}
    
}