.skills_section{
    color:white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .heading_container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5vh 0 15vh 0;
    }

    & .skills_heading{
        font-size: 10vh;
        font-family: 'Allerta Stencil', sans-serif;
    }

    & .skills{
        width: 100%;
        display: grid;
        gap: 50px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        & .center{
            width: 100%;
            display:flex;
            justify-content: center;
            align-items: center;
            //overflow: visible;

            & .svgel{
                height: 100px;
                width: 100px;
                fill: white;

                &_inside{
                    fill: white;
                }
            }

        }
    }
}

@media screen and (min-width: 320px) and (max-width: 600px){
    .skills_section{
        justify-content: start;

        & .heading_container{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 8dvh 0 5dvh 0;

            & .skills_heading{
                font-size: 5vh;
            }
        }
        & .skills{
            width: 100%;
            display: grid;
            gap: 50px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

            & .center{    
                & .svgel{
                    height: 80px;
                    width: 80px;
                }
    
            }
        }
    }
}

@media screen and (min-width: 360px) and (max-width: 400px) {
    .skills_section{
        & .skills{
            & .center{    
                & .svgel{
                    height: 70px;
                    width: 70px;
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 360px) {
    .skills_section{
        & .skills{
            & .center{    
                & .svgel{
                    height: 50px;
                    width: 50px;
                }
    
            }
        }
    }
}

@media screen and (min-height: 600px) and (max-height: 760px){
    .skills_section{
        & .skills{
            & .center{    
                & .svgel{
                    height: 50px;
                    width: 50px;
                }
    
            }
        }
    }
}

@media screen and (min-width: 1280px) and (max-width: 1536px){
    .skills_section{
        & .heading_container{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 8dvh 0 8dvh 0;

            & .skills_heading{
                font-size: 10vh;
            }
        }

        & .skills{
            & .center{    
                & .svgel{
                    height: 100px;
                    width: 100px;
                }
            }
        }
    }
}